<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Safety Checking</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class = "Container">
        <h2>URL CHECKING</h2>
        <form>
            <label>URL</label>
            <input type="text" id ="urlCheck" name = "url" placeholder="Your URL here">
            <button id="check" type="submit">CHECK</button>
            <button id="crawl" type="submit">Crawl Data</button>
        </form>
    </div>
    <script src = "/Js/Crawl.js"></script>
</body>
</html>